@model EHI.WebApp.Models.PatientContact

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.FirstName @Model.LastName Contact Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Phone Number :</dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>    Email Address :</dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>Status :</dt>
        <dd>

            @if (!Model.Status) {
                @Html.DisplayName("Active")
            } else {
                @Html.DisplayName("Inactive")
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default" })
</p>
