@model IEnumerable<EHI.WebApp.Models.PatientContact>

@{
    ViewBag.Title = "Index";
}

<p class="btn">
    @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-default" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient Name")
            </th>
            <th>
                @Html.DisplayName("Phone Number")
            </th>
            <th>
                @Html.DisplayName("Email Address")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @if (!item.Status) {
                        @Html.DisplayName("Active")
                    } else {
                        @Html.DisplayName("Inactive")
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                    @if (!item.Status) {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
                    } else {
                        @Html.Label("Delete")
                    }

                </td>
            </tr>
        }
    </tbody>
</table>